body{
    background-color: #1B1833;
    color:antiquewhite;
    font-weight: bolder;
    font-size: 4rem;
}
.container{
    text-align: center;

}
img{
    height: 60vh;
    border: 40px solid #AB4459;
    border-radius: 50%;
}
